<!DOCTYPE html>
<html lang="en">
  <head>
    <h2><%= title %></h2>
  </head>
  
  <body>
      <!-- Single file-->
      <form action="/uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file"/>
    </form>

    <!-- Multiple files -->
    <form action="/uploadmultiple" enctype="multipart/form-data" method="POST">
        Select images: <input type="file" name="myFile" multiple>
        <input type="submit" value="Upload your files" />
    </form>
    
    <!-- Photo -->
    <form action="/upload/photo" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*" />
        <input type="submit" value="Upload Photo" />
    </form>

  </body>
  
</html>